/****** Black *********/

$black-100: #000000;

/****** White *********/

$white-100: #ffffff;

/****** Red *********/

$red-100: #ff0000;
$red-1: #eb2a2a;

/****** Green *********/

$green-1: #23ab23;
