// COLORS

/****** Black *********/

$black-100: #000000;

/****** White *********/

$white-100: #ffffff;

/****** Red *********/

$red-100: #ff0000;
$red-1: #eb2a2a;

/****** Orange *********/

$orange-1: #fc7f2b;

/****** Green *********/

$green-1: #23ab23;

/****** Blue *********/

$blue-1: #f2f8ff;
$blue-2: #112b6b;
